# Mr.Vinayak Vijay Kulkarni

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('DataTest.xlsx')
df

   Plan ID PlanName                                     UsageRateSlabs  Usage
0        1    PlanA        10000,0.25|10000,0.20|10000,0.15|99999,0.10  33000
1        2    PlanB  5000,0.30|10000,0.25|15000,0.20|25000,0.15|999...  33000
2        3    PlanC                    5000,0.25|10000,0.20|99999,0.15  33000
3        4    PlanD                                        999999,0.25  33000
4        5    PlanE                             25000,0.25|999999,0.20  33000

In [3]:
df['UsageRateSlabs']

0          10000,0.25|10000,0.20|10000,0.15|99999,0.10
1    5000,0.30|10000,0.25|15000,0.20|25000,0.15|999...
2                      5000,0.25|10000,0.20|99999,0.15
3                                          999999,0.25
4                               25000,0.25|999999,0.20
Name: UsageRateSlabs, dtype: object

# To remove the | mark from UsageRateSlabs column

In [4]:
updated_slab=list()

for j in range(0,len(df)):
    updated_slab.append(df['UsageRateSlabs'][j].split('|'))

In [5]:
updated_slab

[['10000,0.25', '10000,0.20', '10000,0.15', '99999,0.10'],
 ['5000,0.30', '10000,0.25', '15000,0.20', '25000,0.15', '99999,0.10'],
 ['5000,0.25', '10000,0.20', '99999,0.15'],
 ['999999,0.25'],
 ['25000,0.25', '999999,0.20']]

In [6]:
type(updated_slab[0][0])

str

# Remove comma from values and storing it in a nested sublist

In [7]:
lst = [[] for _ in range(len(updated_slab))]

In [8]:
lst

[[], [], [], [], []]

In [9]:
for r in range(len(updated_slab)):
    for c in range(len(updated_slab[r])):
        lst[r].append(updated_slab[r][c].split(','))

In [10]:
lst

[[['10000', '0.25'], ['10000', '0.20'], ['10000', '0.15'], ['99999', '0.10']],
 [['5000', '0.30'],
  ['10000', '0.25'],
  ['15000', '0.20'],
  ['25000', '0.15'],
  ['99999', '0.10']],
 [['5000', '0.25'], ['10000', '0.20'], ['99999', '0.15']],
 [['999999', '0.25']],
 [['25000', '0.25'], ['999999', '0.20']]]

## Add column New_slab in data frame

In [11]:
df['New_slab']=lst

In [12]:
df

,Plan ID,PlanName,UsageRateSlabs,Usage,New_slab
0,1,PlanA,"10000,0.25|10000,0.20|10000,0.15|99999,0.10",33000,"[[10000, 0.25], [10000, 0.20], [10000, 0.15], ..."
1,2,PlanB,"5000,0.30|10000,0.25|15000,0.20|25000,0.15|999...",33000,"[[5000, 0.30], [10000, 0.25], [15000, 0.20], [..."
2,3,PlanC,"5000,0.25|10000,0.20|99999,0.15",33000,"[[5000, 0.25], [10000, 0.20], [99999, 0.15]]"
3,4,PlanD,"999999,0.25",33000,"[[999999, 0.25]]"
4,5,PlanE,"25000,0.25|999999,0.20",33000,"[[25000, 0.25], [999999, 0.20]]"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Plan ID         5 non-null      int64
 1   PlanName        5 non-null      object
 2   UsageRateSlabs  5 non-null      object
 3   Usage           5 non-null      int64
 4   New_slab        5 non-null      object
dtypes: int64(2), object(3)
memory usage: 328.0+ bytes

In [16]:
lst

[[['10000', '0.25'], ['10000', '0.20'], ['10000', '0.15'], ['99999', '0.10']],
 [['5000', '0.30'],
  ['10000', '0.25'],
  ['15000', '0.20'],
  ['25000', '0.15'],
  ['99999', '0.10']],
 [['5000', '0.25'], ['10000', '0.20'], ['99999', '0.15']],
 [['999999', '0.25']],
 [['25000', '0.25'], ['999999', '0.20']]]

# To calculate the slab value for each sublist

In [17]:
lst_calc2 = [[] for _ in range(len(lst))]

In [18]:
def calculate_slab3(lst):
    std_usage=33000
    
    
    for i in range(len(lst)):
        usage=0
        for j in range(len(lst[i])):
            #std_usage=33000
            #usage=0
            #new_usage=0
            for k in range(len(lst[i][j])-1):
                usage=usage+int(lst[i][j][k])
                #print(usage)
                if usage<=33000:
                    lst_calc2[i].append(int(lst[i][j][k])*float(lst[i][j][k+1]))
                    
                      
                elif usage>33000:
                    
                    usage1=usage-int(lst[i][j][k])
                    
                    if usage1==0:
                        lst_calc2[i].append(std_usage*float(lst[i][j][k+1]))
                    elif usage1>0:
                        usage=usage-int(lst[i][j][k])
                        new_usage=std_usage-usage
                        #print(new_usage)
                        lst_calc2[i].append(new_usage*float(lst[i][j][k+1]))
                        
                
                    
                
    return lst_calc2

In [19]:
Final_slab=calculate_slab3(lst)
#calculate_slab3(lst)

In [20]:
Final_slab

[[2500.0, 2000.0, 1500.0, 300.0],
 [1500.0, 2500.0, 3000.0, 450.0, 300.0],
 [1250.0, 2000.0, 2700.0],
 [8250.0],
 [6250.0, 1600.0]]

# To calculate the final bill value for each plan

In [25]:
slab_lst=[]

for i in range(len(Final_slab)):
    slab=0
    for j in range(len(Final_slab[i])):
        slab=slab+Final_slab[i][j]
    slab_lst.append(slab)

In [26]:
slab_lst

[6300.0, 7750.0, 5950.0, 8250.0, 7850.0]

# Add a new column Bill Value in Dataframe

In [27]:
df['BillValue']=slab_lst

In [28]:
df

,Plan ID,PlanName,UsageRateSlabs,Usage,New_slab,BillValue
0,1,PlanA,"10000,0.25|10000,0.20|10000,0.15|99999,0.10",33000,"[[10000, 0.25], [10000, 0.20], [10000, 0.15], ...",6300.0
1,2,PlanB,"5000,0.30|10000,0.25|15000,0.20|25000,0.15|999...",33000,"[[5000, 0.30], [10000, 0.25], [15000, 0.20], [...",7750.0
2,3,PlanC,"5000,0.25|10000,0.20|99999,0.15",33000,"[[5000, 0.25], [10000, 0.20], [99999, 0.15]]",5950.0
3,4,PlanD,"999999,0.25",33000,"[[999999, 0.25]]",8250.0
4,5,PlanE,"25000,0.25|999999,0.20",33000,"[[25000, 0.25], [999999, 0.20]]",7850.0

In [30]:
df.to_excel("FinalDataTest.xlsx")